<h1>Add Job</h1>
<form method="post" action="/jobs" id="jobform">

  <p>Title: <input type="text" name="title"></p>
  <p>Company: <input type="text" name="company"></p>
  <p>Location: <input type="text" name="location"></p>
  <p>Salary: <input type="text" name="salary"></p>

  <p>contacts: <input type="text" name="contacts"></p>
  <p>company_info: <input class="form-control"type="text" name="company_info"></p>

  <p>Things to Build: <input type="text" name="build"></p>
  <p>Next Step: <input type="text" name="next_step"></p>
  <p>Interview Date: <input type="date" name="interview_date"></p>
  <p>Technical Things to Learn: <input type="text" name="learn_technical"></p>

  <div class="row">
    <div class="col-md-1">
      <p>
        Interested?<br>
        <input type="radio" name="interested" value="true"> Yes<br>
        <input type="radio" name="interested" value="false"> No<br>
      </p>
    </div>

    <div class="col-md-1">
      <p>
        Contacted?<br>
        <input type="radio" name="contacted" value="true"> Yes<br>
        <input type="radio" name="contacted" value="false"> No<br>
      </p>
    </div>
  </div>


<!-- maybe add formcontrol to other parts later, will probably want everything to be in a grid format first -->
 <!--add the rest in here-->
<!--     t.text     "learn_technical"
    t.text     "build"
    t.string   "next_step"
    t.boolean  "interested"
    t.boolean  "contacted"
    t.datetime "interview_date"

    end  -->

  <p>Body:</p><textarea class="form-control" rows="7" form="jobform" name="body"></textarea>



  <input type="submit" value="Save Job">
</form>

